[Unit]
Description=NUEDC H Offline Hotspot
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/home/pangolin/NUEDC/H/start_offline_hotspot.sh
RemainAfterExit=yes
StandardOutput=null
StandardError=null
TimeoutStartSec=75
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
